@import "./css/formcard.css";
* {
  padding: 0;
  margin: 0;
}
.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}
.main-container {
  height: 97vh;
  padding: 10px;
  font-family: "Roboto", sans-serif;
  background: #e5e5e5;
}
.logo {
  padding: 20px;
}
.form {
  width: 600px;
  height: 500px;
  background: #ffffff;
  padding: 40px 85px;
  box-shadow: 4px 4px 20px rgba(157, 157, 157, 0.12);
  border-radius: 15px;
}
.left-container,
.right-container {
  height: 13.44px;
  width: 769px;
  background: #3766e8;
  opacity: 0.2;
  transform: rotate(-30deg);
  overflow: hidden;
}
.footer-container {
  background: #e5e5e5;
  padding-top: 25px;
}